.forgot-pass-main{
  display: flex;
  justify-content: center;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(/images/background/prueba1.jpg);
  padding-left: 0;
  padding-right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 262px);

  .form-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3rem;
    margin-top: 10rem;
    width: 500px;
    height: max-content;
    background: linear-gradient(to bottom, #0A3D6E, #0d5191, #0f5ea8);
    border-radius: 1rem;
    color: white;

    Button{
      margin-top: 2rem;
      width: 250px;
      background-color: #FFC107;
      color: black;
      border: none;
    }

    .form-control{
      width: 400px;
    }

    input{
      margin-bottom: 1rem;
    }

    input:focus {
      outline: 3px solid #FFC107;
    }

    input::placeholder,
    textarea::placeholder {
      color: #a3a3a3;
      opacity: 1;
    }

    
  }

  @media (max-width: 667px){
    .form-div{
      width: 400px;

      h3{
        font-size: 1.2rem;
      }

      .form-control{
        width: 250px;
      }
    }  
  }
}


